@use "../variables";

.header {
  border-bottom: 1px solid variables.$gray-line;
  padding: 1rem 0;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 645px) {
      flex-direction: column;

      .header__cart {
        margin-top: 20px;
      }
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    gap: 10px;

    h1 {
      color: #181818;
      font-size: 2rem;
      font-weight: 800;
    }

    p {
      color: #7b7b7b;
    }
  }
}
